@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #0B264B;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}

.toolbar {}

.hamburger {
    display: none;
}

.menu-bg {
    display: none;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

.toolbar__Body {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.toolbar__MainGroup {
    display: contents;
}

.toolbar__Menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding-left: 0;
}

.toolbar__Menu li {
    list-style: none;
}

.toolbar__Menu li a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B264B;
    text-decoration: none;
}

.toolbar__Media {
    display: contents;
}

.toolbar__Group {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.toolbar__Phone {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-right: 20px;
}

.toolbar__whatsappIcon,
.toolbar__instagramIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    transition: .2s;

}

.swiper-pagination-bullet-active {
    background: #0B264B;
}

.header {
    padding: 50px 0;
}

.header__Body {
    /* background-image: url(../assets/img/main__Bg.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; */
}

.header__Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    justify-content: center;
}

.header__Item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-self: center;
    text-align: center;

}

.header__City {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

}

.City__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.swiper2 {
    width: 50%;
    height: 50%;
}

.header__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin-bottom: 50px;
}

.header__Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
    margin-bottom: 30px;
}

.header__Img {
    max-width: 627px;
}

.header__Img img {
    width: 627px;
    height: 100%;
    object-fit: cover;
}

.header__Text {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    max-width: 580px;
}

.header__Subtitle {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 59px;
    max-width: 849px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.calculator {
    margin-bottom: 80px;
}

.container {}

.calculator__Body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calculator__Text {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 137.9%;
    max-width: 580px;
}

.calculator__Block {
    width: 410px;
    height: auto;
    background-color: #F5F5F5;
    border: 1px solid rgba(207, 199, 199, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator__Block_Calc {
    background: #FFFFFF;
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 20px 45px;
    margin-bottom: 20px;
}

.calculator__Block__Title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 22px;
}

.calculator__Group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.calculator__total {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.calculator__totalNumber {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
}

.calculator__totalBtn {
    background: #0B264B;
    border-radius: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.calculator__totalBtn:active {
    transform: scale(80%);

}

.calculator__Group input,
.calculator__Group select {
    background: #FFFFFF;
    border: 1px solid rgba(92, 92, 92, 0.3);
    border-radius: 15px;
    height: 30px;
    padding: 0 15px;
}

input {
    outline: none;
}

table,
th,
td {
    border: 1px solid #E2D7D7
}

table {
    width: 100%;
}

td {
    padding: 6px 25px;
    text-align: center;
}

th {
    text-align: left;
    padding: 6px 45px 6px 20px;
}

.rate {}

.rate__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
    text-align: center;
}


.loadingPoint {
    padding: 80px 0 30px 0;
}

.loadingPoint__Body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loadingPoint__Item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    width: 49%;
}

.loadingPoint__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.loadingPoint__SubTitle {
    margin-top: -10px;
}

.loadingPoint__Map {
    width: 100%;
    max-width: 100%;
    height: 420px;
}

.loadingPoint__Map iframe {
    width: 100%;
    height: 100%;
}

.aboutUs {
    background-color: #0B264B;
    padding-bottom: 20px;
}

.aboutUs__Block {
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 0;
}

.aboutUs__Block:nth-child(1) {
    padding-top: 100px;
}

.aboutUs__Img {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    opacity: .9;
}

.aboutUs__Img2 {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    opacity: .9;
    left: auto;
}

.aboutUs__Item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
}

.aboutUs__Item__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.aboutUs__Text {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 142%;
    text-align: right;
    color: #FFFFFF;
    width: 50%;
    z-index: 1;
}

.aboutUs__Text_Right {
    text-align: left;
}

.aboutUs__Item2 {
    align-items: flex-start;
}

.aboutUs__Btn {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #11224D;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 18px 40px;
}

.feedback {
    padding: 100px 0;
    background: #082143;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.feedback__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 400px;
}

.feedback__Form input {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    /* height: 60px; */
    padding: 10px 0 10px 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #0B264B;
    border-radius: 30px;
    width: 100%;
}

.feedback__Form button {
    background: #FFFFFF;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #11224D;
    transition: .4s;

}

.feedback__Form button:focus {
    transform: scale(90%);
}

.footer {
    padding: 20px 0;
    background: #fff;
}

.footer__Body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {}

.footer__Block {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.footer__Block__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}



@media screen and (max-width: 1115px) {
    .toolbar__Menu li a {
        font-size: 18px;
    }

    .toolbar__Phone {
        font-size: 18px;
    }

    .toolbar__instagramIcon img,
    .toolbar__whatsappIcon img {
        width: 25px;
        height: 25px;
    }

    .logo img {
        width: 85%;
    }
}

@media screen and (max-width: 988px) {
    .hamburger {
        display: block;
        z-index: 10;
    }

    .toolbar__MainGroup {
        position: fixed;
        top: 10%;
        right: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 30px;
        row-gap: 10px;
        z-index: 4;
        overflow: hidden;
        transition: 0.4s;
        transform: translate(100%, -20%);
    }

    .toolbar__MainGroup.is-active {
        opacity: 1;
        transform: translate(0%, 0%);

    }

    .toolbar__Menu {
        margin-bottom: 0;
        row-gap: 10px;
    }

    .menu-bg {
        display: block;
        z-index: 2;
        width: 0;
        height: 0;
        background: radial-gradient(circle, #DC052D, #DC052D);
        border-radius: 50%;
        transition: 0.3s ease;
        top: 0;
        right: 0;
        position: absolute;
    }

    .change-bg {
        width: 600px;
        height: 480px;
        transform: translate(60%, -30%);
    }

    body.is-active {
        overflow: hidden;
    }

    .toolbar__Menu {
        flex-direction: column;
        align-items: flex-end;
    }

    .toolbar__Group {
        flex-direction: column;
        align-items: flex-end;
    }

    .toolbar__Media {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        margin-top: 10px;
    }

    .toolbar__Phone {
        margin-right: 0;
    }

}

@media screen and (max-width: 1140px) {
    .header__Img img {
        width: 100%;
        height: 100%;
    }

    .header {
        padding: 10px 0 50px 0;
    }

    .header__Img {
        max-width: 450px;
    }

    .header__Text {
        font-size: 17px;
        max-width: 520px;
        text-align: center;
    }

    .header__Subtitle {
        font-size: 37px;
        max-width: 75vw;
    }
}

@media screen and (max-width: 918px) {
    .header__Flex {
        flex-direction: column;
    }

    .header__Text {
        max-width: 80vw;
    }

    .header__Subtitle {
        font-size: 29px;
        max-width: 75vw;
        line-height: 130%;
    }
}

@media screen and (max-width:600px) {
    .header__Img {
        max-width: 70vw;
        margin-bottom: 10px;
    }

    .header__Title {
        font-size: 27px;
    }

    .toolbar__Body {
        padding: 30px 0 0px 0;
    }

    .header__Text {
        max-width: 90vw;
        font-size: 14px;
    }

    .header__Subtitle {
        font-size: 19px;
        max-width: 100vw;
        line-height: 130%;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .calculator__Body {
        flex-direction: column;
        row-gap: 25px;
    }

    .calculator__Text {
        font-size: 33px;
        line-height: 137.9%;
        max-width: 80vw;
        text-align: center;
    }

    .calculator__Block {
        width: 60vw;
    }

    .calculator__Block_Calc {
        padding: 35px 45px;
    }
}

@media screen and (max-width: 715px) {
    .calculator__Text {
        font-size: 24px;
        line-height: 130%;
        max-width: 90vw;
        text-align: center;
    }

    .calculator__Block {
        width: 80vw;
    }
}

@media screen and (max-width: 473px) {
    .calculator__Text {
        font-size: 18px;
    }

    .calculator__Block {
        width: 95vw;
        padding: 25px 15px;
    }

    .calculator__totalBtn {
        padding: 15px;
        font-size: 12px;
    }

    .calculator__totalNumber {
        padding: 15px;
        font-size: 12px;
    }

    .calculator__total {
        justify-content: space-around;
    }

}

@media screen and (max-width: 998px) {


    .rtable {
        /*!
        // IE needs inline-block to position scrolling shadows otherwise use:
        // display: block;
        // max-width: min-content;
        */
        display: inline-block;
        vertical-align: top;
        max-width: 100%;

        overflow-x: auto;

        /* // optional - looks better for small cell values */
        white-space: nowrap;

        border-collapse: collapse;
        border-spacing: 0;
    }

    .rtable,
    .rtable--flip tbody {
        /* // optional - enable iOS momentum scrolling */
        -webkit-overflow-scrolling: touch;

        /* // scrolling shadows */
        background: radial-gradient(left, ellipse, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%) 0 center,
            radial-gradient(right, ellipse, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
        background-size: 10px 100%, 10px 100%;
        background-attachment: scroll, scroll;
        background-repeat: no-repeat;
    }

    /* // change these gradients from white to your background colour if it differs */
    /* // gradient on the first cells to hide the left shadow */
    .rtable td:first-child,
    .rtable--flip tbody tr:first-child {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-size: 20px 100%;
    }

    /* // gradient on the last cells to hide the right shadow */
    .rtable td:last-child,
    .rtable--flip tbody tr:last-child {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 20px 100%;
    }

    .rtable th {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        background: #f2f0e6;
    }

    .rtable th,
    .rtable td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
    }

    .rtable--flip {
        display: flex;
        overflow: hidden;
        background: none;
    }

    .rtable--flip thead {
        display: flex;
        flex-shrink: 0;
        min-width: min-content;
    }

    .rtable--flip tbody {
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rtable--flip tr {
        display: flex;
        flex-direction: column;
        min-width: min-content;
        flex-shrink: 0;
    }

    .rtable--flip td,
    .rtable--flip th {
        display: block;
    }

    .rtable--flip td {
        background-image: none !important;
        /* // border-collapse is no longer active */
        border-left: 0;
    }

    /* // border-collapse is no longer active */
    .rtable--flip th:not(:last-child),
    .rtable--flip td:not(:last-child) {
        border-bottom: 0;
    }

}

@media screen and (max-width: 600px) {
    .rate__Title {
        font-size: 25px;
    }
}

@media screen and (max-width: 1100px) {
    .loadingPoint__Item {
        width: 45%;
    }

    .loadingPoint__Title {
        font-size: 29px;
    }
}

@media screen and (max-width: 885px) {
    .loadingPoint__Body {
        flex-direction: column;
        row-gap: 30px;
    }

    .loadingPoint__Item {
        width: 80%;
        align-items: center;
    }

    .loadingPoint__Map iframe {
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    }
}

@media screen and (max-width: 575px) {
    .loadingPoint__Item {
        width: 95%;
        height: 350px;
    }

    .loadingPoint__SubTitle {
        max-width: 81vw;
        text-align: center;
    }
}

@media screen and (max-width: 915px) {
    .feedback__title {
        font-size: 35px;
    }
}

@media screen and (max-width: 620px) {
    .feedback__title {
        font-size: 25px;
        text-align: center;
        line-height: 125%;
    }

    .feedback {
        padding: 50px 0;
    }

    .feedback__Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        width: 90vw;
    }

    .feedback__Form button {
        width: 80%;
        height: 45px;
    }

    .footer__Body {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 15px;
    }

    .logoFooter {
        display: flex;
        justify-content: center;
    }

    .footer__Block {
        align-items: center;
    }
}

@media screen and (max-width: 1111px) {
    .header__Grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .City__Title {
        font-size: 17px;
    }
}

@media screen and (max-width: 850px) {
    .header__Grid {
        grid-template-columns: repeat(1, 1fr);
        max-height: 600px;
        overflow-y: auto;
    }

    .panelEndtext {
        font-size: 15px;
    }
}

@media screen and (max-width: 1150px) {
    .panel__TabsBlock .panel__Close {
        padding: 8px 40px;
        font-size: 15px;
        border: 2px solid #FFFFFF;
    }
}

.feedback__alert {
    position: fixed;
    top: -6vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    overflow: hidden;
    transition: .2s ease;

}

.feedback__alert.is-active {
    opacity: 1;
    overflow: visible;
    top: 8vh;
}

.feedback__alertBody {
    width: 400px;
    height: auto;
    padding: 10px 15px;
    background: #0B264B;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    transition: .3s;
    cursor: default;
    box-shadow: 2px 2px 10px #0b264bd8;
}

.alert__Icon img {
    width: 100%;
    height: 100%;
}

.alert__Icon {
    width: 50px;
    height: 50px;
}

.alert__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .feedback__alertBody {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    .feedback__alert.is-active {
        top: 12vh;
    }

    .alert__text {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
    }

    .alert__Icon {
        width: 40px;
        height: 40px;
    }
}

.accordion {
    background: #0B264B;
    border: 5px solid #FFFFFF;
    border-radius: 30px;
    padding: 15px 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.panel__Close {
    background: #0B264B;
    border: 5px solid #FFFFFF;
    border-radius: 30px;
    padding: 15px 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.accordion2 {
    margin-left: auto;
    display: flex;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    color: #fff;
    margin-bottom: 100px;
}

.panel__Ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-left: 15px;
    margin-bottom: 35px;
}

.panel__Li {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;

    color: #FFFFFF;
}

.panel__Group {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    row-gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.panel__TabsBlock {
    display: flex;
    padding: 20px 0 30px 0;
    justify-content: center;
    column-gap: 20px;
}

.panel__TabsBlock .panel__Close {
    margin: 0;
}

.panel__GroupItem {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ffffff75;
}

.panel__Group2 .panel__GroupItem {
    box-shadow: none;
}

.panel__Group2 .panel__GroupImg {
    width: 100%;
}

.panelend {
    margin-bottom: 0px;
    position: relative;
}

/* .panel__Group2 .panel__Ul {
    padding-left: 0;
}
.panel__Group2 .panel__Ul li{
    list-style: none;
} */
.panel__GroupItem img {
    width: 100%;
    height: 230px;
    object-fit: fill;
    border-radius: 5px;
}

.panelEndtext {
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    line-height: 150.4%;
    color: #FFFFFF;
    text-align: center;
}

.panelEndImg {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    padding: 30px 0;
}

.panel__GroupItemText {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    color: #11224D;
    background-color: #fff;
    padding: 30px 15px;
    display: flex;
    justify-content: center;
}

.panel__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
    margin-bottom: 10px;
}

.panel__Group_Text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    row-gap: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.panel__Group_Text1 span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    height: 70px;
    color: #FFFFFF;


}

.panel__Group_Text1 span:nth-child(1),
.panel__Group_Text1 span:nth-child(2) {
    min-height: 40px;
    display: flex;
    align-items: center;
}

.panel__Group_Text1 span:nth-child(3),
.panel__Group_Text1 span:nth-child(4) {
    min-height: 80px;
    display: flex;
    align-items: center;
}
.panel__Group_Text3 {
    min-height: 85px !important;
}
@media screen and (max-width: 1240px) {
    .aboutUs__Text {
        font-size: 16px;
    }

    .aboutUs__Item__Title {
        font-size: 43px;
        text-align: center;
    }

    .aboutUs__Btn {
        font-size: 16px;
        padding: 12px 35px;
    }

    .accordion {
        padding: 11px 60px;
        font-size: 16px;
    }

    .aboutUs__Img {
        width: 50%;
    }

    .aboutUs__Img img {
        width: 100%;
        height: 100%;
    }

    .aboutUs__Block {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container_P {
        padding: 0 30px;
    }
}

@media screen and (max-width: 980px) {
    .aboutUs__Text {
        width: 100%;
        text-align: left;
    }

    .aboutUs__Block {
        flex-direction: column;
    }

    .aboutUs__Img {
        position: initial;
        transform: none;
    }

    .aboutUs__Item {
        align-items: center;
        /* padding: 0 15px;
    width: 100vw; */
    }

    .accordion {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: 0 auto 20px auto;
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .panel__Group {
        display: grid;
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        justify-content: space-between;
        row-gap: 15px;
    }
}

@media screen and (max-width: 654px) {
    .panel__Group {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        row-gap: 20px;
    }

    .panel__Title {
        font-size: 28px;
        text-align: center;
    }

    .panel__Li {
        font-size: 15px;
    }

    .panel__Close {
        font-size: 17px;
        padding: 10px 60px;
    }

    .panel__GroupItem img {
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .aboutUs__Item {
        padding: 0 15px;
        width: 100vw;
    }

    .aboutUs__Text {
        font-size: 14px;
        font-weight: 500;
    }

    .aboutUs__Item__Title {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }

    .aboutUs__Img {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 840px) {
    .panel__TabsBlock .panel__Close {
        padding: 5px 20px;
        font-size: 13px;
        border: 2px solid #FFFFFF;
    }

    .panel__Title {
        text-align: center;
    }
}

@media screen and (max-width: 618px) {
    .panel__TabsBlock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
        row-gap: 10px;
    }
}

@media screen and (max-width: 850px) {
    .panelEndtext {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .panelEndImg {
        width: 90vw;
    }

    .panel__Li {
        font-size: 13px;
    }

    .container_P {
        padding: 0 20px;
    }
}

.popap {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    /* opacity: 0; */
    top: -100%;
    visibility: hidden;
    transition: .5s;
}

.popap.is-active {
    opacity: 1;
    visibility: visible;
    top: 0;
}

.popap__Close {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);

}

/* .popap.is-active .popap__Close {
    opacity: 0;
    visibility: hidden;
} */
.popap__Body {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    border-radius: 10px;
    background: #082143;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}

.popap.is-active .popap__Body {
    opacity: 1;
    top: 50%;
    visibility: visible;
}

.popap__Title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 35px;
    color: #FFFFFF;
}

.popap__CloseIcon {
    position: absolute;
    color: #082143;
    top: -10px;
    right: 13px;
    font-size: 300%;
    cursor: pointer;
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feedback__Form {}

.feedback__Form__name {}

.feedback__Form__phone {}

.feedback__Form__email {}

.popap .feedback__Form button {
    width: 90%;
}

.popap .feedback__Form {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .popap__Body {
        width: 90vw;
    }
    .panel__Group_Text1 span {
        font-size: 14px;
    }
}

